/* GENERAL STYLES */
html {
  font-size: 18PX;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  background-color: white;
}
.container {
  max-width: 960px;
  margin: auto;
}

/* HEADER STYLES */
.flex  {
  display: flex;
}
header {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .flex {
  justify-content: flex-end;
}
nav {
background-color: cadetblue;
color: white;
padding: 1rem 0;
display: flex;
justify-content: space-between;
align-items: center;
}
nav div {
  display: flex;
  align-items: center;
}
nav li {
  display: inline;
  padding-right: 2rem;
}
.title img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 2rem;
}
header .flex {
  justify-content: flex-end;
}
.main-banner {
  background-color: white;
  display: inline-block;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}
h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}
/* WARNING:  */
/* ABOUT STYLES */

/*SERVICES SECTION STYLES */

/* INFO SECTION STYLES */

/* FOOTER STYLES */
footer {
  background-color: azure;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}
footer span {

}

/*
<header>
  <nav class="container">
    <div class="title">
      <img src="resources/images/logo-white.png" alt="logo">
      <span>Tortoiseshell Optics</span>
    </div>
    <div class="menu">
      <ul>
        <li>Services</li>
        <li>Products</li>
        <li>Contact</li>
      </ul>
    </div>
  </nav>
  <div class="flex container">
    <div class="main-banner">
      <h1>DON'T JUST LOOK, SEE.</h1>
    </div>
  </div>
</header>

<!-- ABOUT -->
<!-- SERVICES SECTION -->
<section class="services">
  <div class="item">
      <img src="resources/images/paper-icon.png" alt="Exams">
      <span>Comprehensive Exams</span>
    </div>
  <div class="item">
      <img src="resources/images/ruler-icon.png" alt="Fittings">
      <span>Custom Fittings</span>
    </div>
  <div class="item">
      <img src="resources/images/truck-icon.png" alt="Truck">
      <span>Fast Delivery</span>
    </div>
</section>
  <!-- INFO SECTION -->
<section class="info container">
    <div class="details">
      <h2>PHILOSOPHY</h2>
      <p>Over 75% of our brains are dedicated to one sense: vision. We believe everyone deserves to see the world, not matter what. That’s why we offer eye exams, custom fittings, and quick delivery at a low cost. It’s your vision that makes ours.</p>
    </div>
    <div class="details">
      <h2>APPOINTMENTS</h2>
      <p>Schedule an appointment by calling us at (312) 654-0987. We’re open Tuesday - Saturday, 9AM - 6PM.</p>
    </div>
  </section>

<!-- FOOTER -->
<footer class="container">
  <img src="resources/images/logo-black.png" alt="logo">
  <span>&copy; Tortoiseshell Optics</span>
</footer>
*/
