/* GENERAL STYLES */
html {
  font-size: 18PX;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  background-color: white;
}
.container {
  max-width: 960px;
  margin: auto;
}

/* HEADER STYLES */
.flex  {
  display: flex;
}
header {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .flex {
  justify-content: flex-end;
}
nav {
background-color: cadetblue;
color: white;
padding: 1rem 0;
display: flex;
justify-content: space-between;
align-items: center;
}
nav div {
  display: flex;
  align-items: center;
}
nav li {
  display: inline;
  padding-right: 2rem;
}
.title img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 2rem;
}
.main-banner {
  background-color: white;
  display: inline-block;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}
h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}
@media only screen and (max-width: 970px) {
  .container {
    max-width: 100%;
  }
  header {
    height: 22rem;
    padding-top: 0;
  }
  .main-banner {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
  h1 {
    font-size: 1.33rem;
  }
}
/* ABOUT STYLES */
/*SERVICES SECTION STYLES */
.services {
  display: flex;
  justify-content: center;
}
.item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
}
.item img {
  width: 5rem;
  margin-bottom: 1rem;
}
.first-img {
  width: 3.5rem;
}

/* INFO SECTION STYLES */
.info {
  display: flex;
  justify-content: center;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
  margin-bottom: 5rem;
  margin-right: 5%;
}
h2 {
  color: white;
  font-weight: bold;
  background: cadetblue;
  width: 10rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}

  /* FOOTER STYLES */
  footer {
    background-color: azure;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  footer img {
    height: 1.5rem;
    padding: 4rem 1rem 4rem 4rem;
  }
